@model MarryMatesDotNet.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Event ID: @Model.EventId</h4>  
    <p>Date: @Model.EventDate.ToString("yyyy-MM-dd")</p>

  
    <p>Venue: @ViewBag.VenueName</p>
    <p>Vendor: @ViewBag.VendorName</p>
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
